<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login/login.css">
	</head>
	<body>
		<div class="system_name">
			<h2>風險管理系統</h2>
		</div>
		<div class="login_page">
			<div id="container1">
				<div class="login">
					<h3>登入 Login</h3>
					<form action="" method="post">
						<input type="text" id="username" name="userid" placeholder="帳號" required>
						<div class="tab"></div>
						<input type="password" id="password" name="password" placeholder="密碼" required>
						<div class="tab"></div>
						<input type="submit" value="登入" class="submit">
					</form>
					<a href="/sign/sign" style="color:green;">註冊</a>
				</div>
				<!-- login end-->
			</div>
			<!-- container1 end-->
		</div>
		<!-- login_page end-->
		</div>
		<script src="/javascripts/login/login.js"></script>
	</body>
</html>