<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>執行報修程序...</title>
  
      <link rel="stylesheet" href="/stylesheets/repair/repair_wait.css">

</head>

<body>

    <form action="#" method="post">
        <h2>報修</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>
            |正在進行報修程序！ 請稍後。
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>

    <script src="/javascripts/repair/repair_wait.js" type="text/javascript"></script>

</body>

</html>
