<!DOCTYPE html>
<html>
 <head>
  <title> result </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/repair/repair_result.css">
 </head>
 <body align="center" valign="center">
    include ../includes/header_other.pug
    <h1>
        
        <font size="10" color="black"><strong>您報修的商品結果為</strong></font>
    </h1>

    </p><font size="5" color="black">#{result}</font></p>
    
    </p><font size="5" color="black">#{com_Name}</font></p>

    <p><a href="/" class="button special">回首頁</a></p>

 </body>
</html>