<!DOCTYPE html>
<html>
    <head>
        <title>加入證明</title>
        <link rel='stylesheet' href='/stylesheets/joinplan/joinplan_choose.css'>
    </head>
    <body align="center" valign="center">
        include ../includes/header_other.pug
        <form action="" method="post">
            <font size="4" color="black"><strong>#{result}</strong></font>
            <br>
            <br>
            <br>
            <input type="button" style="width:120px;height:40px;font-size:20px;" value="回首頁" onclick="location.href='/'">
        </form>
        <script src="/javascripts/joinplan/joinplan_certificate.js" type="text/javascript"></script>
    </body>
</html>