




<!DOCTYPE html>
<html>
	<head>
		<title>核保結果</title>
		<link rel='stylesheet' href='/stylesheets/joinplan/joinplan_choose.css'>
	</head>
	<body align="center" valign="center">
		include ../includes/header_other.pug
		<form action="/joinplan/underwriting_transfer" method="post">
			<font size="8" color="black"><strong>#{result}</strong></font>
			<br>
			<br>
			<br>
		</form>
		<script src="/javascripts/joinplan/underwriting_result.js" type="text/javascript"></script>
	</body>
</html>

