<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sign/sign.css">
</head>


  <body>
    <div class="system_name">
      <h2>風險管理系統</h2>
    </div>
   
    <div class="signup_page">
      <div id="container1">
        <div class="signup">  
          
          <h3>註冊 Sign Up</h3>

          <form action="" method="post">
            <input type="text" id="password" name="userid" placeholder="帳號" required>
            <div class="tab"></div>
            <input type="password" id="password" name="password" placeholder="密碼" required>
            <div class="tab"></div>
            <input type="password" id="comfirm_password" name="comfirm_password" placeholder="確認密碼" required>
            <div class="tab"></div>
            <input type="text" id="useraddress" name="useraddress" placeholder="使用者錢包位址" required>
            <div class="tab"></div>
            <input type="submit" value="註冊" class="submit">

          </form>  

          <a href="/login/login" style="color:green;">登入</a>
          
        </div><!-- signup end-->
      </div><!-- container2 end-->
    </div><!-- signup_page end--> 
  
    <script src="/javascripts/sign/sign.js"></script>
  </body>
</html>