//--ек├ф sidenav bar----------------------------------------------
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/myaccount">My Account</a>
    <a href="/currency_exchange">Currency Exchange</a>
    <a href="/program">Program</a>
    <a href="/investor">Investor</a>
</div>
//----------------------------------------------------------