<!DOCTYPE html>
<html>
 <head>
  <title> certificate </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/certificate/certificate.css">
 </head>
 <body align="center" valign="center">
  <p>加入方案成功</p>
  <p>以下為憑證</p>
  <table border="1" align="center" valign="center">
   <tr>
   <td align="center" valign="center">帳號</td>
   <td>joiner</td>
   </tr>
   <tr>
   <td>方案名稱</td>
   <td>#{str_PlanName}</td>
   </tr>
   <tr>
   <td>加入商品</td>
   <td>#{com_Name}</td>

   </tr>
   <tr>
   <td>商品序號</td>
   <td>#{com_SerNum}</td>

   </tr>
   <tr>
   <td>此交易Hash</td>
   <td>#{hash}</td>

   </tr>
   <tr>
   <td>可保性</td>
   <td>Yes</td>

   </tr>
  </table>
 </body>
</html>